.task-enter {
  opacity: 0;
}
.task-enter.task-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.task-exit {
  opacity: 1;
}
.task-exit.task-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.notification {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
